<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Groupfifteen</title>
		</head>
		
		<body>
			<h1>Pagina principal</h1>
			<img src="https://cdn.pixabay.com/photo/2015/12/15/09/04/banner-1093909_640.jpg" alt="Banner" title="Banner de la pagina principal">
			
			<nav>
				<ul>
					<li><a href="file:///C:/Users/ezeou/git/repo-tp2/tp2_grupo15/src/main/resources/templates/productos.html">Pagina de Productos </a> </li>
					<li><a href="file:///C:/Users/ezeou/git/repo-tp2/tp2_grupo15/src/main/resources/templates/consejosdesalud.html">Pagina de Consejos De Salud </a> </li>
					<li><a href="file:///C:/Users/ezeou/git/repo-tp2/tp2_grupo15/src/main/resources/templates/serviciodepaseo.html">Pagina de Servicios de paseos </a> </li>
					<li><a href="file:///C:/Users/ezeou/git/repo-tp2/tp2_grupo15/src/main/resources/templates/sucursales.html">Pagina de Sucursales </a> </li>
					<li><a href="file:///C:/Users/ezeou/git/repo-tp2/tp2_grupo15/src/main/resources/templates/contactanos.html">Pagina de Contáctanos </a> </li>
				</ul>
			</nav>
			
			<section>
				<h2>Objetivos de la empresa</h2>
				<article>
					<h3>Venta de Productos</h3>
					<p>Aqui podra encontrar nuestra pagina donde ofrecemos nuestros productos.</p>
				</article>	
				<article>
					<h3>Consejos de salud</h3>
					<p>Podra hallar nuestra pagina donde podra encontrar consejos sobre su salud que podrian ser de ayuda.</p>
				</article>
				<article>
					<h3>Servicios de Paseo</h3>
					<p>Encontrará nuestra pagina de servicio de paseo. Para su mascota.</p>
				</article>
			</section>
			
			<aside>
				<p><a href="file:///C:/Users/ezeou/git/repo-tp2/tp2_grupo15/src/main/resources/templates/contactanos.html">Contactenos</a></p>
				<p>Puede vistar nuestra pagina web. Donde encontrara nuestras diferentes <a href="file:///C:/Users/ezeou/git/repo-tp2/tp2_grupo15/src/main/resources/templates/sucursales.html">Sucursales</a></p>
			</aside>
			
			<footer>
				<p>Copyright 2023 - Groupfifteen - Diseñado por Grupo 15 – Jujuy – República Argentina</p>
			</footer>
		</body>
	</html>